extends layout

block content
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
    // Header
    header.mdl-layout__header
      .mdl-layout__header-row
        // Title
        span.mdl-layout-title CastDash
        // Add spacer, to align navigation to the right
        .mdl-layout-spacer
        // Navigation
        nav.mdl-navigation
          a.mdl-navigation__link(href='') ad
          
      .mdl-layout__tab-bar.mdl-js-ripple-effect
        a.mdl-layout__tab.is-active(href='#search-panel') Search
        a.mdl-layout__tab(href='#options-panel') Options
   
    // Content
    main.mdl-layout__content
      section#search-panel.mdl-layout__tab-panel.is-active
        .page-content
          .mdl-grid.grid-panel
            .mdl-cell.mdl-cell--6-col
              .search-panel.mdl-shadow--2dp.mdl-color--white.mdl-color-text--grey-800
                .mdl-card__supporting-text
                  form(action='#s').mdl-textfield.mdl-js-textfield.search-form
                    input#tracksearch.mdl-textfield__input(type='text')
                    label.mdl-textfield__label(for='tracksearch') Search..
                  .search-results

            .mdl-cell.mdl-cell--6-col
              .player-panel.mdl-shadow--2dp.mdl-color--white.mdl-color-text--grey-800
                .mdl-card__supporting-text
                  p#currentTrack(style='text-align:center') &nbsp; 
                  p(style='text-align:center')
                    b#currentArtist &nbsp;

                  input#volume.mdl-slider.mdl-js-slider(type='range', min='0', max='100', value='0', tabindex='0')
                  ul.player-controls
                    li 
                      i#previousButton.material-icons skip_previous
                    li
                      i#playButton.material-icons play_circle_filled
                    li 
                      i#nextButton.material-icons skip_next
                hr
                .mdl-card__supporting-text
                  p#currentTrack(style='text-align:center')
                    b Queue
                  .queue-list
                    ul


      section#options-panel.mdl-layout__tab-panel
        .page-content
          .mdl-grid.grid-panel
            .mdl-cell.mdl-cell--6-col
              .chromecast-panel
                .mdl-shadow--2dp
                  .mdl-card__supporting-text
                    p 
                      b Chromecasts found in network:

                    label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-1')
                      input#option-1.mdl-radio__button(type='radio', name='options', value='1', checked='')
                      span.mdl-radio__label ChromecastRob

            .mdl-cell.mdl-cell--6-col
              .chromecast-panel
                .mdl-shadow--2dp
                  .mdl-card__supporting-text
                    p
                      b Amount of clients connected:
                    label#clients Clients connected