extends layout

block content
  .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
   .mdl-tabs__tab-bar
      a.mdl-tabs__tab.is-active(href='#search-panel') Search
      a.mdl-tabs__tab(href='#options-panel') Options
    #search-panel.mdl-tabs__panel.is-active
      .mdl-grid.grid-panel
        .mdl-cell.mdl-cell--6-col
          .search-panel
            .mdl-card.mdl-shadow--2dp
              .mdl-card__supporting-text
                form(action='#s').mdl-textfield.mdl-js-textfield.search-form
                  input#tracksearch.mdl-textfield__input(type='text')
                  label.mdl-textfield__label(for='tracksearch') Search..

                .search-results

        .mdl-cell.mdl-cell--6-col
          .player-panel
            .mdl-card.mdl-shadow--2dp
              .mdl-card__supporting-text
                p#currentTrack(style='text-align:center') Doin' It Right (feat. Panda Bear)
                p(style='text-align:center')
                  b#currentArtist Daft Punk

                input#volume.mdl-slider.mdl-js-slider(type='range', min='0', max='100', value='0', tabindex='0')
                ul.player-controls
                  li 
                    i.material-icons skip_previous
                  li
                    i#playButton.material-icons play_circle_filled
                  li 
                    i.material-icons skip_next
            .mdl-card.mdl-shadow--2dp
              .mdl-card__supporting-text
                p#currentTrack(style='text-align:center')
                  b Queue
                .queue-list
                  ul
                    li lol   
                    li lol   
                    li lol   
                    li lol   


    #options-panel.mdl-tabs__panel
      .mdl-grid.grid-panel
        .mdl-cell.mdl-cell--6-col
          .chromecast-panel
            .mdl-card.mdl-shadow--2dp
              .mdl-card__supporting-text
                p 
                  b Chromecasts found in network:

                label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-1')
                  input#option-1.mdl-radio__button(type='radio', name='options', value='1', checked='')
                  span.mdl-radio__label ChromecastRob
