doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    link(rel='stylesheet', href='/stylesheets/vendor/material.indigo-pink.min.css')
    script(src='/javascripts/vendor/material.min.js')
    script(src='/javascripts/vendor/jquery-2.1.4.min.js')
    script(src='/javascripts/vendor/socket.io.min.js')
    script(src='/javascripts/vendor/handlebars-v4.0.2.js')
    script(src='/javascripts/templates.tpl.js')
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
