.grid-panel {
    max-width: 800px;
    margin: 0 auto;
}

.player-controls {
    padding: 0;
}

.player-controls li {
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;
}

.search-results ul,
.queue-list ul {
    padding: 0;
}

.search-results ul .song-item,
.queue-list ul .song-item {
    list-style: none;
    padding: 10px 5px;
}

.search-results ul .song-item:not(:last-child),
.queue-list ul .song-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.musicsearch {
    width: 100%;
}